@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Raleway:wght@800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Raleway:wght@800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
:root,
root[data-theme="dark"] {
  --primary-color: #f0f0f0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292e;
  --primary-border-color: #28292e;
  --secundary-border-color: #56575a;

  --title-color: #f0f0f0;
  --text-color: #9a9a9c;
  --link-color: #9a9a9c;
  --icon-color: #c7c8c9;
}
:root[data-theme="light"] {
  --primary-color: #0b0b0f;

  --primary-bg-color: #e9e9e9;
  --secondary-bg-color: #c7c8c9;
  --primary-border-color: #c7c8c9;
  --secundary-border-color: #c7c8c9;

  --title-color: #0b0b0f;
  --text-color: #28292e;
  --link-color: #56575a;
  --icon-color: #56575a;
}
html[data-theme="light"].brand__logo {
  filter: invert(1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
}

body {
  background: var(--primary-bg-color);
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

i {
  color: var(--icon-color);
}
b {
  font-weight: 400;
  color: var(--text-color);
}

h1 {
  font-size: 1.5rem;
  font-weight: 100px;
}
p {
  font-size: 0.875rem;
  text-align: justify;
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-family: "League Spartan", Courier, monospace;
  text-transform: uppercase;
  color: var(--title-color);
  font-size: 5vh;
}
figure {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
}
.header__toggle {
  display: flex;
  justify-content: flex-end;
  min-width: 40%;
}
.header__brand .brand__logo {
  width: 3.25rem;
  height: 3.25rem;
}

#toggleTheme {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: ease-in-out 0.4s;
}

.menu {
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
  justify-content: space-between;
}
.menu__item {
  width: 100%;
}

.menu--mobile {
  width: 100vw;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin-top: 1rem;
  justify-content: space-between;
  border-top: 1px solid var(--primary-border-color);
}

.menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text .menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
  color: var(--primary-color);
  font-weight: 600px;
}

.menu__icon,
.menu__text {
  color: var(--text-color);
}

.menu__icon {
  font-size: 1.5rem;
}

.menu__text {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.header__nav {
  display: none;
}

.menu--principal {
  gap: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 1rem;
}

/* ===================== PROJETOS ===================== */
.projetos {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  z-index: 1;
}

.projeto section {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 3dvw;
  padding: 0;
}
.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 1rem;
}

.title h1 {
  font-size: 2.5rem;
  text-transform: none;
}

/* Card Projeto */
#refazendo_youtube figure {
  width: 100%;
  justify-items: center;
}
.projeto {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.projeto img {
  width: 70vw;
  display: block;
  margin-top: 1rem;
  justify-self: center;
}

.projeto section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

/* Informações do Projeto */
.infoprojeto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.infoprojeto h2 {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.main__content1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.menu--social {
  gap: 1rem;
}

.main__content2 iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}
.main__content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 5000px;
}
.Skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6.27rem 1rem 2rem 1rem;
  background: var(--secondary-bg-color);
  margin-top: -2rem;
  gap: 1.25rem;
  overflow-x: hidden;
}
.Skills h2 {
  font-size: 2rem;
  text-transform: none;
}
.Skills_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 5rem;
}

.skills__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  max-width: 100%;
  height: 4.8rem;
  max-height: 100%;
  aspect-ratio: 1/1;
  border: 1px solid var(--secundary-border-color);
  border-radius: 50rem;
}
section.Skills {
  margin-top: 20px;
}
.skills__logo {
  height: 2.4rem;
}
/* Botoes */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 0.625rem;
  width: 30vw;
  background: transparent;
  border-radius: 3rem;
  border: 1px solid var(--primary-color);
  padding: 0.875rem 1rem;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  width: auto;
  min-width: 12dvw;
  color: var(--text-color);
}
.projeto .btn {
  flex-direction: row;
}

.btn:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.btn span,
.btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}
.btn--primary span {
  color: var(--primary--color);
}
.btn--primary span {
  border: 1px solid var(--primary--color);
}

/* Sobre mim */
.sobre__content {
  vertical-align: -webkit-baseline-middle;
  margin-top: 20px;
}

/* ====================== Contato =========================== */
footer p {
  font-size: 0.875rem;
  text-align: center;
}
footer {
  display: grid;
  place-items: center;
  padding: 1rem;
  justify-content: center;
  margin: 0rem;
  margin-bottom: 4rem;
}
footer form {
  width: 100%;
}
footer label,
footer input,
footer textarea {
  margin: 1rem;
  color: var(--text-color);
  background: var(--secondary-bg-color);
  border: 0.125rem solid var(--secundary-border-color) transparent;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease-in-out;
  box-shadow: 0.3s;
}
footer input,
footer textarea {
  display: block;
}
footer input,
footer textarea footer button {
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
}
footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
}
footer input:hover,
footer input:focus,
footer textarea:hover,
footer textarea:focus {
  outline: none;
  border-color: #1d90f5;
  box-shadow: 0 0 0 0.3125rem #26344a;
}
footer textarea {
  min-width: 20.5rem;
  min-height: 10rem;
  resize: horizontal;
}
footer button {
  border: none;
  border-radius: 99px;
  color: white;
  background: #1d90f5;
  cursor: pointer;
  transition: 0.3s;
}
footer button:hover,
footer button:focus {
  outline: none;
  background: #1d90f5;
}
footer button:disabled {
  cursor: not-allowed;
  background: gray;
}
.success {
  color: green;
  text-align: center;
}
.error {
  color: red;
  text-align: center;
}
@media (min-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--primary-border-color);
    padding: 1rem 6rem;
    background: var(--primary-bg-color);
  }

  .nav--mobile {
    display: none;
  }
  .header__nav {
    display: flex;
  }
  .header__nav,
  .header__toggle {
    min-width: 30%;
  }
  h1 {
    font-size: 4.75rem;
  }
  main {
    padding: 8rem 6rem 4rem 6rem;
  }
  #refazendo_youtube {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #refazendo_youtube figure {
    width: 100%;
  }
  .projeto section {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    min-width: 100%;
    gap: 2rem;
  }
  section figure,
  section img {
    width: 50vw;
    max-width: 500px;
  }
  footer {
    margin: 0px;
    min-width: 100dvh;
  }
  .main__content1 {
    display: flex;
    flex-direction: column;
  }

  .Skills {
    padding: 6.27rem 6rem 2rem 1rem;
    margin-top: -9rem;
  }
  .projeto img {
    width: 40vw;
    display: block;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding: 12rem 6rem;
  }

  .main__content1 .btn {
    width: auto;
  }
  .Skills {
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem 6rem 4rem;
  }
  .Skills h2 {
    font-size: 3.5rem;
    width: 60%;
  }
  .skills__list {
    gap: 1rem;
  }
  .skills__item {
    width: 4rem;
    height: 4rem;
  }

  .skills__logo {
    height: 2rem;
  }
  .projeto figure {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 50%;
  }
}
@media screen and (min-width: 1400px) {
  .header {
    padding: 1rem 15rem;
  }
  .main {
    padding: 12rem 15rem 2rem;
  }
  .btn {
    width: 20%;
  }
  .Skills {
    padding: 10rem 15rem 4rem;
  }
}
